extends layout 

block content
  h1= title

  div(class='list-group')
    each category in allCategories 
      a(href=category.url, class="list-group-item list-group-item-action")
        h4 #{category.name}
        p #{category.description}